<p>At DIGITAL MEMEX we believe that humans are characterized by creativity, which through a collaborative process leads to knowledge. Knowledge is created in our minds from information stored outside, in nature or computers. DIGITAL MEMEX wants to bring a new approach to the production, dissemination, storage, sharing and ownership of knowledge.</p>
<p>
For more than a decade we’ve put a lot of effort and research into the open source project DeepaMehta. Now is the time to bring it into the world. If you are working with unstructured data and knowledge or generally interested in next generation semantic data, contact us and we’ll give you more information.</p>
</p>
