<p><strong>Thank you, that&#8217;s awesome!</strong> This guide should help you to get started.</p>
<h5><em>Pre-requisites: Install dependencies</em></h5>
<p>Java 1.6 (older Java versions do not work).</p>
<p>Git 1.7 (other Git versions work as well).</p>
<p>Maven 3 (Maven 2 does not work).</p>
<p>Check our <a href="https://trac.deepamehta.de/wiki/RestApi">REST API</a> and<strong><em> <a title="DigitalMemeX documentation" href="http://digitalmemex.github.io">documentation </a></em></strong></p>

<h5><em>Build your own application based on DMX</em></h5>
<ol>
<li><strong><em>Download</em></strong> DMX distribution from:<a title="DigitalMemeX distribution v.0.0.2" href="%20https://www.digitalmemex.com/dmx-0.0.2-SNAPSHOT.tar.gz"> https://www.digitalmemex.com/dmx-0.0.2-SNAPSHOT.tar.gz</a></li>
<li><strong><em>Extract</em></strong> the archive</li>
<li><strong><em>Start</em></strong> the server in foreground with  <em>`bin/karaf`</em> or as a service with <em>`bin/start`</em>(hit &lt;CTRL&gt;+&lt;D&gt; or call  <em>`bin/stop`</em> to stop it).</li>
<li><strong><em>Open</em></strong> http://localhost:17071/de.deepamehta.webclient <p>To login fill username: admin and leave the password blank</p></li>
</ol>
<p>Then</p>
<ol>
<li><strong><em>Create your repository</em></strong> by creating a topic  Repository with the name of your appplication and the url of your code</li>
<li><strong><em>Open the repository</em></strong> manager at http://localhost:17071/dmx and install your app</li>
</ol>

<p><strong><em>Access to your code</em></strong></p>
<p><em>cd dmx-0.0.2-SNAPSHOT/deepamehta-files/dmx</em></p>
<p>Now you can continue building your own application!!!!</p>
<p>If you develop an add-on we would be happy if you tell us, by sending a mail to teamATdigitalmemex.com</p>

<p><em> </em></p>
<h5>Contribute with the open tasks of DMX distribution</h5>
<p>If you found something you want to work on or to fix, fork the repository and submit a pull request with your changes</p>
<ol>
<li>Check out the <strong><a title="DMX github issues" href="https://github.com/digitalmemex/distribution/issues">issues</a></strong></li>
<li>Fork the code from <strong><a title="DMX distribution github repository" href="https://github.com/digitalmemex/distribution">https://github.com/digitalmemex/distribution</a></strong></li>
<li>Do a pull request</li>
</ol>
<p>We have have a beginner-friendly tag for things that we believe are simple enough to get started.</p>
<p><em><strong>Git Workflow</strong></em></p>
<p>To contribute make sure you follow this workflow, thanks!!</p>
<ol>
<li>Have a master branch</li>
<li>Have a develop branch</li>
<li>Each small feature is done in a new branch (put the issue number as part of the branch name)</li>
<li>Do a  Pull Request over each small feature</li>
</ol>
                        
