<h3>Repository Manager</h3>

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tr  ng-repeat="repo in allRepos"> 
      <td>{{repo.name}}</td>
      <td>{{repo.description}}</td>
      <td></td>
      <td><a class="btn btn-sm btn-info" ng-href="{{repo.url}}/blob/master/README.md">README</a></td>
      <td><button
             ng-model="repo.status"
             ng-class="repo.status=='Update' ? 'btn btn-sm btn-primary' : 'btn btn-sm btn-warning'"
             ng-click="selectAction(repo)">
          {{repo.status}}</button></td>
      <td><a type="button" class="btn btn-sm btn-success" ng-href="/app/{{repo.name}}" ng-show="repo.status=='Update'">Open app</a></td>
      <td><button 
             class="btn btn-sm btn-danger"
             ng-show="repo.status=='Update'"
             ng-click="deleteRepo(repo.id)">Delete</a></td>
    </tr>
  </table>
</div>

